*{
    box-sizing: border-box;
}

body{
    font-family: 'Outfit', sans-serif;
    background-color: hsl(212, 45%, 89%);
    text-align: center;
    margin: 0;
}

.container{
    font-size: 0.9375rem;
    width: 25%;
    margin: 15vh auto;
    border-radius: 17.7333px;
    background-color: hsl(0, 0%, 100%);
    position: relative;
    box-shadow: 0 0 10px rgba(0 0 0 / 30%);
    padding: 1em 0;
}

img{
    width: 90%;
    margin: 0 auto;
    border-radius: 11.349px;
}

p{
    margin-bottom: 0;
}

.first-p{
    font-weight: 700;
    font-size: 1.7em;
    color:  hsl(218, 44%, 22%);
    width: 90%;
    margin: 1.25em auto 0;
}

.second-p{
    font-weight: 400;
    color: hsl(220, 15%, 55%);
    width: 90%;
    padding: .75em;
    font-size: 1.2em;
    margin: 1em auto 0 auto;

}

.attribution{
    bottom: 25px;
    left: 475px;
    margin: 50px auto 0 auto;
    color: hsl(220, 15%, 55%);
}

hr{
    width: 25%;
    margin: 0 auto 0 auto;
    border: none;
    border-bottom: solid 2px;
}

#user-name{
    text-decoration: none;
    font-weight: bold;
    color: hsl(220, 15%, 55%);
    font-family: monospace;
    transition: 1s;
}

#user-name:hover{
    text-shadow: red 1px 0, cyan -1px 0;
}

@media (max-width: 768px) {
    .container{
        width: 50%;
        margin: 5vh auto 0 auto;
    }
}

@media (max-width: 426px) {
    .container{
        width: 80%;
        margin: 5vh auto 0 auto;
    }
}

@media (max-width: 376px) {
    .container{
        width: 80%;
        margin: 15vh auto;
    }

    .first-p{
        font-size: 1.25em;
    }

    .second-p{
        font-size: .95em;
    }
}